* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body formatting */
body {
    font-size: 24px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C9DEFF;
    margin: auto;
    min-width: 300px;
    max-width: 800px;
}

/* nav bar link formatting */
nav a {
    color: #000000;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
}

/* header things */
header {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #AAC7F5;
    color: #000000;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 5px -5px;
    z-index: 1;
}

header h1 {
    font-weight: 700;
}

header ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header ul li {
    font-weight: 500;
    padding: 5px;
}

header ul li::after {
    content: ' ○';
}

/* spacer-image things */
.spacer-image {
    height: 100px;
    width: 100%;
    background-image: url(../images/spacer-image-1.png);
    background-size: cover 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}



/* about me id */
.about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #AAC7F5;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    flex: 1 1 50%;
}

.about-me article {
    width: 70%;
    font-size: 75%;
}

.about-me img {
    max-height: 250px;
    max-width: 350px;
}

.card {
    background-color: #AAC7F5;
    padding: 5px;
    position: relative;
}


/* work projects */
.work-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #AAC7F5;
    justify-content: center;
    padding: 20px;
}

.feat-proj img {

    height: auto;
    width: 100%;
}

.reg-proj {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 30%;
    gap: 10px;
}


.contact-info {
    background-color: #AAC7F5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}


footer {
    background-color: #AAC7F5;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

/* Media query for screen width to force flex-direction to column */
@media screen and (max-width: 768px) {
    body {
      flex-direction: column;
    }
    header {
        flex-direction: column;
    }
    .about-me {
        flex-direction: column;
        align-items: center;
    }
  }