* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body formatting */
body {
    font-size: 24px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C9DEFF;
    margin: auto;
    min-width: auto;
    max-width: 800px;
}

/* nav bar link formatting */
nav a {
    color: #000000;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
}

/* header things */
header {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #AAC7F5;
    color: #000000;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 5px -5px;
    z-index: 3;
}

header h1 {
    font-weight: 700;
}

header ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header ul li {
    font-weight: 500;
    padding: 5px;
}

header ul li::after {
    content: ' ○';
}

/* spacer-image things */
.spacer-image {
    height: 133px;
    width: 100%;
    background-image: url(../images/spacer-image-1.png);
    background-size: cover 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}



/* about me id */
.about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #AAC7F5;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    flex: 1 1 50%;
    margin-bottom: 40px;
    border-bottom-left-radius: 25px;
    box-shadow: 0 4px 5px -5px;
}

.about-me article {
    width: 70%;
    font-size: 75%;
}

.about-me img {
    max-height: 250px;
    max-width: 350px;
}

.card {
    background-color: #AAC7F5;
    padding: 5px;
    position: relative;
    text-align: center;
    
}

.card h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}


/* work projects */
.work-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #AAC7F5;
    justify-content: center;
    padding: 20px;
    margin-bottom: 40px;
    border-bottom-left-radius: 25px;
    box-shadow: 0 4px 5px -5px;
}


.feat-proj {
    position: relative;
    margin-bottom: 20px;
    transition: 0.5s ease;
    opacity: 80%;
}


.bottom-left {
    position: absolute;
    font-family: arial;
    bottom: 20px;
    left: 10px;
    background-color: #6293e2;
    color: #000;
    padding: 5px;
    opacity: 1;
    z-index: 1;
    border: 1px solid #000;
}

.feat-proj img {
    height: auto;
    width: 100%;
    transition: 0.5s ease;
    filter: blur(2px);
}

.feat-proj:hover {
    opacity: 100%;
    transform: scale(1.1);
    filter: blur(0px);
}

.feat-proj img:hover {
    filter: blur(0px);
}


.bottom-left-reg {
    position: absolute;
}

.reg-proj {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1 1 50%;
}


.reg-proj img {
    height: 125px;
    width: 375px;
}

.testcontainer:hover {
    opacity: 100%;
    transform: scale(1.1);
    z-index: 2;
    /* filter: blur(0px); */
}

.testcontainer {
    position: relative;
    transition: 0.5s ease;
    z-index: 1;
    /* filter: blur(2px); */
}

.testcontainer img {
    transition: 0.5s ease;
    filter: blur(2px);
}

.testcontainer img:hover {
    filter: blur(0px);
}

.bottom-left1 {
    position: absolute;
    bottom: 15px;
    left: 5px;
    font-size: 75%;
    background-color: #6293e2;
    color: #000;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
    border: 1px solid #000;
}


.contact-info {
    background-color: #AAC7F5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
    border-bottom-left-radius: 25px;
    box-shadow: 0 4px 5px -5px;
    padding: 20px;
}

.contact-info img {
    height: 40px;
    width: 120px;
}



footer {
    background-color: #AAC7F5;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Media query for screen width to force flex-direction to column */
@media screen and (max-width: 768px) {
    body {
      flex-direction: column;
    }
    header {
        flex-direction: column;
    }
    .about-me {
        flex-direction: column;
        align-items: center;
    }
    .contact-info {
        flex-direction: column;
        align-items: center;
    }
  }